@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #e63b51;
    --secondary: #fdcb44;
    --gray: #676767;
    --blue: #5591da;
    --background: #ffffff;
    --muted: #3c3c3c;
  }
}

@layer base {
  * {
    @apply scroll-smooth;
  }
  body {
    @apply w-full min-h-screen flex flex-col font-bubblegum bg-background text-black overflow-x-hidden;
  }
  h1,
  h2,
  h3 {
    @apply font-bubblegum;
  }
  p {
    @apply font-abeezee;
  }
}

@layer components {
  @media (max-width: 1024px) {
    .container {
      @apply px-[1rem];
    }
  }
}

/* Rotation animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Combine translation and rotation */
.custom-rotate {
  animation: spin infinite 20s linear; /* Adjust animation duration and timing function */
  transform-origin: center;
  transform: translate(-50%, 0) rotate(0deg); /* Initial transformation to center the image */
}
